<h1 i18n="@@homePage.title">Internationalization</h1>

<p>{{ welcomeMessage }}</p>

<div class="logo-container">
  <img
    src="./assets/angular-logo.svg"
    alt="Angular logo"
    i18n-alt="@@logoAlternativeText"
    width="300"
    height="73"
  />

  <ng-container i18n="@@textWithoutAnElement">Text without an element.</ng-container>
</div>

<section>
  <h2 i18n="@@builtInPipesTitle">Built-in pipes</h2>

  <ul>
    <li>
      <span i18n="@@dateLabel">Date:</span> {{ today | date:'mediumDate' }}
    </li>

    <li>
      <span i18n="@@timeLabel">Time:</span> {{ today | date:'mediumTime' }}
    </li>

    <li>
      <span i18n="@@currencyLabel">Currency:</span> {{ 12.34 | currency }}
    </li>
  </ul>
</section>

<app-feedback-form [user]="user" />

<p i18n="@@textWithMarkup">For more information, visit the <a [routerLink]="'/about'">about</a> page.</p>
